<!DOCTYPE html>
<html lang="ko">

<head th:fragment="config">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고거래</title>
    <meta name="description" content="중고거래">
    <meta property="og:type" content="website">
    <meta  property="og:title" content="중고거래">
    <meta property="og:image" content="/pub/images/og_image.jpg">
    <meta property="og:description" content="중고거래">

    <title>중고거래</title>

    <link rel="icon" href="/images/common/Reon_icon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/common/Reon_icon_free.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- js -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/ui-common.js"></script>


</head>
