<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="inner">
        <div class="header_top">
            <ul class="menu">
                <li>
                    <a th:if="${session.get('user') != null}" href="/member/logout">로그아웃</a>
                    <a th:if="${session.get('user') == null}" href="/login">로그인</a>
                </li>
                <li><a href="/memberjoin">회원가입</a></li>
            </ul>
        </div>
        <div class="header_bottom">
            <h1 class="logo">
                <a href="/">
                    <img src="/images/common/logo.png" alt="중고거래">
                </a>
            </h1>
            <div class="btn_wrap">
                <ul class="s_menu">
                    <li class="sale"><a href="/enroll">판매</a></li>
                    <li class="store"><a href="/store">상점</a></li>
                    <li class="talk"><a href="/talk">채팅</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>