<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="inner">
        <div class="header_top">
            <ul class="menu">
                <li><a href="/login/login.html">로그인</a></li>
                <li><a href="/login/memberjoin.html">회원가입</a></li>
            </ul>
        </div>
        <div class="header_bottom">
            <h1 class="logo">
                <a href="index.html">
                    <img src="/images/common/logo.png" alt="중고거래">
                </a>
            </h1>
            <div class="btn_wrap">
                <ul class="s_menu">
                    <li class="sale"><a href="/menu/enroll.html">판매</a></li>
                    <li class="store"><a href="/mypage/store.html">상점</a></li>
                    <li class="talk"><a href="/menu/talk.html">채팅</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>