.address_p .inner {
  margin: 0 auto;
  padding: 0 170px 0;
  max-width: 1200px;
}
.a_back_wrap {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  z-index: 3;
  margin-top: 20px;
}
.a_back_wrap .a_back_btn {
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  top: 1px;
  background: url(/images/common/angle-left.png) no-repeat 100% / 100%;
}
.a_back_wrap .a_add {
  margin-left: 30px;
  line-height: 30%;
  font-size: 18px;
  font-weight: 700;
}

.address_find .inner {
  margin: 0 auto;
  padding: 0 170px 0;
  max-width: 1200px;
}
.address_find .find_wrap {
  position: relative;
  margin: 0 auto;
  padding-left: 25px;
}
.address_find .find_wrap input {
  background: rgb(250, 250, 250);
  margin-top: 20px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(82, 79, 79, 0.263);
}
.address_find .find_wrap.on input {
  display: block;
  background: url(/images/common/close.svg) no-repeat 100%;
}
.address_find .find_wrap .delete_btn {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 11%;
  top: 63%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  background: #376ec1 url(/images/common/close.svg) no-repeat 50% 50% / 12px;
  display: none;
}


.address_find .find_wrap .search_btn {
  width: 60px;
  height: 46px;
  border: none;
  background:#fff url(/images/common/search.png) no-repeat 50% 50%;
}
.address_ex .inner {
  margin: 0 auto;
  padding: 0 170px 0;
  max-width: 1200px;
}
.address_ex .ex_wrap {
  position: relative;
  margin-left: 20px;
  margin-top: 30px;
  color: rgb(153, 153, 153);
  font-size: 16px;
  margin-bottom: 200px;
}
.address_ex .ex_wrap strong {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 600;
}
.address_ex .ex_wrap ul {
  list-style: disc;
  margin-left: 40px;
}
.address_ex .ex_wrap li {
  padding: 10px;
}
/* 태블릿 */
@media (max-width:1200px) {
  
}

/* 모바일 */
@media (max-width:767px) {
  .address_p .inner {
    padding: 0 130px 0;
  }
  .address_main .inner {
    padding: 0 130px 0;
  }
}
