.review_container .inner {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 400px;
}

.main_review {
    padding: 20px 0;
}
.main_review a img {
    width: 20px;
    height: 20px;
}
.main_review h2 {
    padding-top: 25px;
    font-size: 20px;
    font-weight: bold;
}
.main_review .image {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #f6f6f6;
}
.main_review .image ul {
    display: flex;
    width: 856px;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.main_review .image li::before {
    content: "";
    width: 32px;
    height: 32px;
    background: url(/images/product_image_before.svg) center center no-repeat;
    margin-bottom: 16px;
}
.main_review .image li {
    position: relative;
    width: 202px;
    height: 202px;
    border-radius: 2px;
    border: 1px solid #b2b2b2;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.main_review .image input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
}
.main_review .review_wrap {
    padding-bottom: 20px;
}
.main_review .review_wrap textarea {
    width: 100%;
    height: 100%;
    padding: 16px;
    font-size: 16px;
}
.main_review .review_wrap span {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.main_review .btn_wrap {
    display: flex;
    padding: 20px 0 0 0;
}

.main_review button {
    width: 726px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background: #376ec1;
    border: none;
}

/* 태블릿 */
@media (max-width:1200px) {
    .review_container .inner {
        padding: 0 300px;
    }
}

/* 모바일 */
@media (max-width:767px) {
    .review_container .inner {
        padding: 0 150px;
    }
}