<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/order/review.css">
  <title>Title</title>
</head>
<body>
<main id="container" class="review_container" layout:fragment="content">
  <section class="main_review">
    <div class="inner">
      <a href="/deal_history">
        <img src="/images/common/angle-left.png" alt="이미지">
      </a>
      <h2>소중한 후기를 남겨주세요.</h2>
      <div class="image">
        <div class="image_enroll">
          <ul>
            <li>이미지 등록<input type="file" accept="image/jpg, image/jpeg, image/png" multiple=""></li>
          </ul>
        </div>
      </div>
      <div class="review_wrap">
        <textarea rows="6" placeholder="남겨주신 후기는 더 나은 중고거래 환경을 위한 보탬이 됩니다."></textarea>
        <span>0/2000</span>
      </div>
      <div class="btn_wrap">
        <button type="button">등록하기</button>
      </div>
    </div>
  </section>
</main>
</body>
</html>
