<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/mypage/store_review.css">
  <script src="/js/store.js"></script>
  <title>Title</title>
</head>
<body>
<main id="container" layout:fragment="content">
  <section class="store_header">
    <div class="inner">
      <div class="store_htxt">
        마이페이지
      </div>
    </div>
  </section>
  <section class="store_my">
    <div class="inner">
      <div class="sr_name_wrap">
        <div class="sn_imgwrap">
          <img src="/images/trade/trade_images06.webp">
        </div>
        <div class="sr_info">
          <div class="sname_wrap">
            <span class="sname">상점25호</span>
            <button class="rename_btn">
              상점명 수정
            </button>
          </div>
          <a href="/deal_history" class="sales_history">
            구매/판매내역
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="store_let">
    <div class="inner">
      <div class="s_wrap">
        <ul class="store_a_wrap">
          <li class="review_o">
            <a href="/store" class="st_re">
              상품
            </a>
          </li>
          <li class="review_r">
            <a href="/store_review" class="st_part">
              상품후기
            </a>
          </li>
        </ul>
      </div>
      <div class="store_re">
        <div class="re_htext">
          전체
        </div>
        <span class="review_re_count">0</span>
      </div>
      <div class="reviewAll_wrap">
        <ul class="all_review">
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images04.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images05.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images05.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images05.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images05.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images05.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images05.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/trade_sub" class="store_review">
              <div class="img_wrap">
                <img src="/images/trade/trade_images05.webp" alt="">
              </div>
              <div class="txt_wrap">
                <strong>귀국 정리! 4단 슬림 수납 선반 (틈새 공간 활용에 최고!)</strong>
                <span>친절해요</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
</body>
</html>
