#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.2s;
  background: #fff;
}
#header.fixed {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
}
#header .inner {
   max-width: 1743px;
  margin: 0 auto;
}
#header .header_top {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  height: 40px;
  border-bottom: 1px solid #e7e7e7;
}
#header .header_top .menu {
  position: relative;
  display: flex;
  gap: 0 5px;
  padding-right: 90px ;
  z-index: 10;
  line-height: 40px;
}
#header .header_top .menu li {
  position: relative;
  padding-right: 10px;
}
#header .header_top .menu li + li::before {
  content: '';
  position: absolute;
  left:-7px;
  top:13px;
  width:1.5px;
  height: 11px;
  background-color: rgba(0, 0, 0, 30%);
}
#header .header_top .menu a {
  letter-spacing: -0.09em;
  font-size: 15px;
  gap: 0 5px;
  display: inline-flex;
  align-items: center;
}
#header .header_bottom {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  height: 110px;
  border-bottom: 1px solid #e7e7e7;
}
#header .header_bottom .logo {
  position: absolute;
  top: 50%;
  left: 65px;
  transform: translateY(-50%);
  max-width: 140px;
  z-index: 10;
}

#header .header_bottom .btn_wrap {
  position: absolute;
  right: 78px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 0 20px;
  z-index: 10;
  align-items: center;
}
#header .header_bottom .s_menu {
  width: 353px;
  position: relative;
  display: flex;
}
#header .header_bottom .s_menu li {
  height: 100px;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  transition: all 0.2s;
  padding: 10px;
}
#header .header_bottom .s_menu .sale::after {
  content: '';
  position: relative;
  left:5px;
  top:1px;
  width:1.5px;
  height: 13px;
  background-color: rgba(0, 0, 0, 30%);
}
#header .header_bottom .s_menu .store::after {
  content: '';
  position: relative;
  left:5px;
  top:1px;
  width:1.5px;
  height: 11px;
  background-color: rgba(0, 0, 0, 30%);
}
#header .header_bottom .s_menu .sale::before {
  content: '';
  width: 30px;
  height: 40px;
  background: url(/images/sale.png) no-repeat 100% / 100%;
}
#header .header_bottom .s_menu .store::before {
  content: '';
  width: 30px;
  height: 40px;
  background: url(/images/store.png) no-repeat 100% / 100%;
}
#header .header_bottom .s_menu .talk::before {
  content: '';
  width: 30px;
  height: 40px;
  background: url(/images/talk.png) no-repeat 100% / 100%;
}

/* 이미지 */
.main_visual {
  height: 500px;
  text-align: center;
  border: none;
  margin: 0 auto;
}
.main_visual .main_v {
  content: '';
  width: 1700px;
  height: 500px;
  background: url(/images/main_v.jpg) no-repeat center / cover;
  border: none;
}
/* 검색창 */
.main_search .inner {
  height: 200px;
  margin: 0 auto;
  padding: 0 100px;
  background: #c9d9f3;
}
.main_search .search_wrap {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
}
.main_search .search {
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
.search .input_wrap {
  max-width: 900px;
  width: 100%;
  display: flex;
  border: 2px solid #376ec1;
  align-items: center;
}
.search input[type=search] {
  /* 폼요소는 기본크기가 있으므로 flex-grow: 1해도 기본 키기가 줄어들지 않으므로 width를 정확히 잡아주면 줄어듬 */
  width: calc(100% - 50px);
  height: 50px;
  border: none;
  font-size: 18px;
}
.search .search_btn {
  width: 50px;
  height: 50px;
  border: none;
  background:#fff url(images/common/search.png) no-repeat 0 0 / 100%;
}

/* 카테고리 */
.main_Kategorie .inner {
  margin: 0 auto;
  max-width: 1300px;
  padding: 100px 80px 250px;
}
.main_Kategorie .Kategorie_wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  text-align: center;
  gap: 20px;
}
.main_Kategorie .Kategorie_wrap li {
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  background: #f9f9f9;
  height: 130px;
  text-align: center;
  padding: 17px;
  transition: all 0.3s;
}
.main_Kategorie .Kategorie_wrap li:hover {
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  background: rgb(222, 238, 243);
}
.main_Kategorie .Kategorie_wrap li>a {
  position: absolute;
  width: 90px;
  padding-top: 13px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: flex-start;
  bottom: 15px;
  font-weight: 500;
}
.main_Kategorie .Kategorie_wrap .pc {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .gagu {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px; 
}
.main_Kategorie .Kategorie_wrap .kitchen {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .clothes {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px; 
}
.main_Kategorie .Kategorie_wrap .beauty {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .sports {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .game {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .book {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}


#footer .inner {
    max-width: 1740px;
    /* padding: 0 120px; */
    margin: 0 auto;
}

#footer .footer_top {
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}
#footer .footer_top .menu {
    display: flex;
    height: 65px;
    padding: 0 100px;
    align-items: center;
}
#footer .footer_top li {
    display: inline-block;
    position: relative;
    padding-right: 35px;
}
#footer .footer_top li::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 11px;
    width: 1px;
    height: 10px;
    border-right: 1px solid rgb(178, 178, 178);
    transform: translateY(-50%);
    box-sizing: border-box;
}
#footer .footer_top li:last-child::after {
    display: none;
}
#footer .footer_top a {
    text-align: center;
    font-size: 13px;
    color: #333333;
    text-decoration: none;
}


#footer .footer_bottom {
    padding: 40px 100px 45px;
    display: flex;
    gap: 0 100px;
    width: 100%;
}
#footer .footer_bottom h2,h3,h4 {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
#footer .footer_bottom .txt_wrap {
    margin-top: 8px;
}
#footer .footer_bottom p {
    color: #7f7f7f;
    font-size: 12px;
    line-height: 2;
}
#footer .footer_bottom p span {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    background: #7f7f7f;
    margin: 0 10px;
}

#footer .footer_right .customer {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin:0;
}

#footer .footer_rbottom {
    margin-top: 60px;
}



#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.2s;
  background: #fff;
}
#header.fixed {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
}
#header .inner {
   max-width: 1743px;
  margin: 0 auto;
}
#header .header_top {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  height: 40px;
  border-bottom: 1px solid #e7e7e7;
}
#header .header_top .menu {
  position: relative;
  display: flex;
  gap: 0 5px;
  padding-right: 90px ;
  z-index: 10;
  line-height: 40px;
}
#header .header_top .menu li {
  position: relative;
  padding-right: 10px;
}
#header .header_top .menu li + li::before {
  content: '';
  position: absolute;
  left:-7px;
  top:13px;
  width:1.5px;
  height: 11px;
  background-color: rgba(0, 0, 0, 30%);
}
#header .header_top .menu a {
  letter-spacing: -0.09em;
  font-size: 15px;
  gap: 0 5px;
  display: inline-flex;
  align-items: center;
}
#header .header_bottom {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  height: 110px;
  border-bottom: 1px solid #e7e7e7;
}
#header .header_bottom .logo {
  position: absolute;
  top: 50%;
  left: 65px;
  transform: translateY(-50%);
  max-width: 140px;
  z-index: 10;
}

#header .header_bottom .btn_wrap {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 0 20px;
  z-index: 10;
  align-items: center;
}
#header .header_bottom .s_menu {
  width: 353px;
  position: relative;
  display: flex;
}
#header .header_bottom .s_menu li {
  height: 100px;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  transition: all 0.2s;
  padding: 10px;
}
#header .header_bottom .s_menu .sale::after {
  content: '';
  position: relative;
  left:5px;
  top:1px;
  width:1.5px;
  height: 13px;
  background-color: rgba(0, 0, 0, 30%);
}
#header .header_bottom .s_menu .store::after {
  content: '';
  position: relative;
  left:5px;
  top:1px;
  width:1.5px;
  height: 11px;
  background-color: rgba(0, 0, 0, 30%);
}
#header .header_bottom .s_menu .sale::before {
  content: '';
  width: 30px;
  height: 40px;
  background: url(/images/sale.png) no-repeat 100% / 100%;
}
#header .header_bottom .s_menu .store::before {
  content: '';
  width: 30px;
  height: 40px;
  background: url(/images/store.png) no-repeat 100% / 100%;
}
#header .header_bottom .s_menu .talk::before {
  content: '';
  width: 30px;
  height: 40px;
  background: url(/images/talk.png) no-repeat 100% / 100%;
}


#container {
  padding-top: 150px;
  border: none;
}
.main_visual {
  height: 500px;
  text-align: center;
  border: none;
  margin: 0 auto;
}
.main_visual .main_v {
  content: '';
  width: 1700px;
  height: 500px;
  background: url(/images/main_v.jpg) no-repeat center / cover;
  border: none;
}

.main_search .inner {
  height: 200px;
  margin: 0 auto;
  padding: 0 100px;
  background: #c9d9f3;
}
.main_search .search_wrap {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
}
.main_search .search {
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
.search .input_wrap {
  max-width: 900px;
  width: 100%;
  display: flex;
  border: 2px solid #376ec1;
}
.search input[type=search] {
  /* 폼요소는 기본크기가 있으므로 flex-grow: 1해도 기본 키기가 줄어들지 않으므로 width를 정확히 잡아주면 줄어듬 */
  width: calc(100% - 60px);
  height: 60px;
  border: none;
  font-size: 18px;
}
.search .search_btn {
  width: 60px;
  height: 60px;
  border: none;
  background:#fff url(/images/common/search.png) no-repeat 50% 50%;
}

.main_Kategorie .inner {
  margin: 0 auto;
  max-width: 1300px;
  padding: 100px 80px 250px;
}
.main_Kategorie .Kategorie_wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  text-align: center;
  gap: 20px;
}
.main_Kategorie .Kategorie_wrap li {
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  background: #f9f9f9;
  height: 130px;
  text-align: center;
  padding: 17px;
  transition: all 0.3s;
}
.main_Kategorie .Kategorie_wrap li:hover {
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  background: rgb(222, 238, 243);
}
 .main_Kategorie .Kategorie_wrap li a {
    position: absolute;
    max-width: 68%;
    height: 100px;
    padding-top: 75px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: flex-start;
    font-weight: 500;
}
.main_Kategorie .Kategorie_wrap .pc {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .gagu {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px; 
}
.main_Kategorie .Kategorie_wrap .kitchen {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .clothes {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px; 
}
.main_Kategorie .Kategorie_wrap .beauty {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .sports {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .game {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}
.main_Kategorie .Kategorie_wrap .book {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  left: 1px;
}


#footer .inner {
    max-width: 1740px;
    /* padding: 0 120px; */
    margin: 0 auto;
}

#footer .footer_top {
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}
#footer .footer_top .menu {
    display: flex;
    height: 65px;
    padding: 0 100px;
    align-items: center;
}
#footer .footer_top li {
    display: inline-block;
    position: relative;
    padding-right: 35px;
}
#footer .footer_top li::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 11px;
    width: 1px;
    height: 10px;
    border-right: 1px solid rgb(178, 178, 178);
    transform: translateY(-50%);
    box-sizing: border-box;
}
#footer .footer_top li:last-child::after {
    display: none;
}
#footer .footer_top a {
    text-align: center;
    font-size: 13px;
    color: #333333;
    text-decoration: none;
}


#footer .footer_bottom {
    padding: 40px 100px 45px;
    display: flex;
    gap: 0 100px;
    width: 100%;
}
#footer .footer_bottom h2,h3,h4 {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
#footer .footer_bottom .txt_wrap {
    margin-top: 8px;
}
#footer .footer_bottom p {
    color: #7f7f7f;
    font-size: 12px;
    line-height: 2;
}
#footer .footer_bottom p span {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    background: #7f7f7f;
    margin: 0 10px;
}

#footer .footer_right .customer {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin:0;
}

#footer .footer_rbottom {
    margin-top: 60px;
}










/* 태블릿 */
@media (max-width:1200px) {
  .main_Kategorie .Kategorie_wrap li a {
    font-size: 13px;
  }


  #footer .footer_bottom {
  flex-direction: column;
  }
  
  #footer .footer_right {
    margin-top: 30px;
  }
  
  #footer .footer_rbottom {
    margin-top: 30px;
  }
}

/* 모바일 */
@media (max-width:767px) {
  #header .header_top .menu {
    left: 50px;
  }
  #header .header_top .menu a {
    font-size: 13px;
  }
  #header .header_bottom .s_menu li{
    font-size: 14px;
    gap: 5px;
  }
  #header .header_bottom .btn_wrap {
    left: 481px;
  }
  #header .header_bottom .logo {
    left: 37px;
  }
  #header .header_bottom .logo img {
    max-width: 80%;
  }
  #header .header_bottom .s_menu .sale::before{
    width: 20px;
  }
    #header .header_bottom .s_menu .store::before{
    width: 20px;
  }
    #header .header_bottom .s_menu .talk::before{
    width: 20px;
  }
  #header .header_bottom .s_menu .sale::after {
    width: 1px;
    height: 10px;
  }
  #header .header_bottom .s_menu .store::after {
    width: 1px;
    height: 10px;
  }

  .main_Kategorie .Kategorie_wrap {
       grid-template-columns: repeat(4, 1fr);
       display: grid;
  }



  #footer .footer_top li {
    padding-right: 28px;
  }
  #footer .footer_top li::after {
    height: 8px;
  }
  #footer .footer_top a {
    font-size: 11px;
  }
  
  #footer .footer_bottom h2, h3, h4 {
    font-size: 13px;
  }
  
  #footer .footer_bottom p {
    font-size: 11px;
  }

  #footer .footer_right .customer {
    font-size: 22px;
  }
}
