<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/menu/talk.css">
  <script src="/js/talk.js>"></script>
  <title>Title</title>
</head>
<body>
<main id="container" class="talk_container" layout:fragment="content">
  <section class="main_talk">
    <div class="inner">
      <div class="talk_wrap">
        <div class="talk_left">
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
          <div class="talk_list">
            <a href="#">
              <img src="/images/common/Reon_icon.ico" alt="프로필 이미지" class="left_img">
              <div class="talk_text">
                <strong>이벤트</strong>
                <div class="text">(광고) UP 이용권 💥86% 파격 특가💥</div>
              </div>
            </a>
          </div>
        </div>
        <div class="talk_right">
          <div class="talk_info">
            <button type="button" class="close">대화방 나가기</button>
          </div>
          <div class="talk_top">
            <div class="talk_text">
              <strong>이벤트</strong>
              <div class="name">REON 공식상점</div>
            </div>
            <button type="button" class="sitemap_btn">
              <span class="blind">사이트맵 열기</span>
              <i></i>
              <i></i>
              <i></i>
            </button>
          </div>
          <div class="event_wrap">
            <div class="event_t">
              <img src="https://static.bunjang.co.kr/cms/1HDAgdpV8juUS1cox7rccaaEwyZs4Xzxf.webp" alt="이미지" class="right_img">
              <h3>(광고) 야구 직관 가기 전 필수🏟️</h3>
              <p>내가 사랑하는 팀, 유니폼 입고 직관가서 응원해보세요.<br>
                번개장터엔 없는 유니폼이 없답니다. 지금 바로 구경해 볼까요?🥳<br>
                ※수신거부: 알림설정</p>
              <button type="button">지금만나러 가기</button>
              <em>오후 4:12</em>
            </div>
            <div class="event_t">
              <img src="https://static.bunjang.co.kr/cms/1gxBCwfRZylONC2SU_hbjimSldjXTozKE.png" alt="이미지" class="right_img">
              <h3>(광고) 안 입는 옷 정리하고 2배 정산 받으세요</h3>
              <p>갑자기 풀린 날씨, 슬슬 옷장 정리할 때죠?<br>
                이번엔 옷장을 가볍게 비우고,<br>
                입지 않는 옷으로 두 배 혜택 챙겨보세요.<br>
                번개장터 X 리클 옷장정리에 참여하신 분들께<br>
                4월 한 달 동안 아래 혜택을 드려요!<br>
                ✅ 옷장 정리 정산 금액 2배<br>
                ✅ 2만 원 상당 할인 쿠폰팩
                ※수신거부: 알림설정</p>
              <button type="button">옷장 정리하러 가기</button>
              <em>오후 2:13</em>
            </div>
            <div class="event_t">
              <h3>(광고)💥UP 이용권, 1개 가격으로 5개 드려요!💥</h3>
              <p>내 상품을 최상단으로 올려주는 UP 이용권!<br>
                지금 최대 86% 할인 중이니, 꼭 이번 기회에 쌓아 두세요😎<br>
                ※수신거부: 알림설정</p>
              <button type="button">86% 할인받고 구매하기</button>
              <em>오전 10:15</em>
            </div>
            <div class="event_t">
              <img src="https://static.bunjang.co.kr/cms/1U6_m0DmpZexp-cjX17cqTVacVTpFHPxH.webp" alt="이미지" class="right_img">
              <h3>(광고) 일본 빈티지의 정수, 래그태그 런칭 기념 최대 혜택!</h3>
              <p>일본 빈티지 패션의 정수를 담은 ‘래그태그’를<br>
                이제 번개장터에서도 만나볼 수 있어요.<br>
                ✅ 한정 기간 동안만 무조건 드리는 할인 혜택<br>
                1. 래그태그 전 상품 5% 할인<br>
                2. 선착순 1만 원 할인 쿠폰<br>
                지금 바로 혜택 받고, 검증된 일본 빈티지 셀렉션을 경험해 보세요.<br>
                ※수신거부 : 알림설정<br>
                ✅ 2만 원 상당 할인 쿠폰팩<br>
                ※수신거부: 알림설정</p>
              <button type="button">혜택 받으러 가기</button>
              <em>오후 12:24</em>
            </div>
            <div class="event_t">
              <img src="https://static.bunjang.co.kr/cms/1fBK1Cmo-gzd2Hvxme3-o9W276CIyJ8ux.webp" alt="이미지" class="right_img">
              <h3>(광고) 환경의 날을 맞아, 번개장터가 #무해한FLEX 지원금 총 1,OOO만 원을 드려요!</h3>
              <p>REON님을 위해 환경의 날 선물을<br>
                준비했어요! 총 1,000만 원의 #무해한FLEX 지원금으로, 평소 찜해둔 물건을 구매해 보세요.<br>
                탄소 절감까지 챙기는 일석이조의 실천, 오늘부터 함께해요! ※수신거부: 알림설정</p>
              <button type="button">지원금 받으러 가기</button>
              <em>오후 12:11</em>
            </div>
          </div>
          <div class="talk_bottom">
            <div class="chat" disabled="">
              <div class="chat_t">
                <textarea placeholder="메시지를 보낼 수 없는 상점이에요" disabled=""></textarea>
              </div>
              <div class="chat_file" disabled="">
                <svg fill="#7f7f7f" xmlns="http://www.w3.org/2000/svg" width="18"
                     height="18" viewBox="0 0 20 20" role="img">
                  <path fill="#7f7f7f" fill-rule="evenodd"
                        d="M12.897.55c.336 0 .643.187.799.484l1.057 2.035H18.1a.9.9 0 0 1 .9.9V18.1a.9.9 0 0 1-.9.9H1.9a.9.9 0 0 1-.9-.9V3.97a.9.9 0 0 1 .9-.9h3.347l1.058-2.036A.9.9 0 0 1 7.104.55zm-.546 1.8H7.65L6.592 4.385a.9.9 0 0 1-.8.484h-2.99V17.2H17.2V4.87h-2.993a.9.9 0 0 1-.8-.485zM10 6.595a4.03 4.03 0 0 1 4.025 4.026A4.03 4.03 0 0 1 10 14.646a4.03 4.03 0 0 1-4.025-4.025A4.03 4.03 0 0 1 10 6.595m0 1.8a2.23 2.23 0 0 0-2.225 2.226c0 1.227.998 2.226 2.225 2.226a2.227 2.227 0 0 0 2.225-2.226A2.23 2.23 0 0 0 10 8.395">
                  </path>
                </svg>
              </div>
              <input name="files" type="file" accept="image/*" multiple="">
              <input name="files" type="file" accept="video/*" multiple="">
              <input type="file" capture="environment" accept="image/*">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>
