<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/member.js"></script>
  <title>Title</title>
</head>
<body>
<main id="container" class="login_container" layout:fragment="content">
  <section class="contents">
    <div class="inner">
      <div class="join">
        <h2>회원가입</h2>
        <form id="requored-form" action="/joinDetail" method="post">
          <fieldset>
            <legend>회원가입</legend>
            <div class="join_wrap">
              <label for="email">아이디(이메일)</label>
              <input type="text" id="email" name="email" placeholder="사용하실 아이디(이메일)를 입력해주세요." title="아이디(이메일)"
                     autocomplete="email" required aria-required="true">
              <button type="button" class="delete_btn">
                <span class="blind">삭제</span>
              </button>
            </div>
            <div class="join_wrap">
              <label for="password">비밀번호</label>
              <input type="password" id="password" name="password" placeholder="사용하실 비밀번호를 입력해주세요." title="비밀번호"
                     autocomplete="password" required aria-required="true">
              <button type="button" class="delete_btn">
                <span class="blind">삭제</span>
              </button>
            </div>
            <div class="join_wrap">
              <label for="member_name">별명</label>
              <input type="text" id="member_name" name="member_name" placeholder="사용하실 별명을 입력해주세요." title="별명"
                     autocomplete="member_name" required aria-required="true">
              <button type="button" class="delete_btn">
                <span class="blind">삭제</span>
              </button>
            </div>
            <div class="join_wrap">
              <label for="mobile">휴대전화</label>
              <input type="text" id="mobile" name="mobile" placeholder="하이픈(-) 없이 숫자만 입력해주세요." title="휴대전화"
                     autocomplete="mobile" required aria-required="true">
              <button type="button" class="delete_btn">
                <span class="blind">삭제</span>
              </button>
            </div>
            <div class="join_wrap">
              <label for="address">주소</label>
              <input type="text" id="address" name="address" placeholder="주소를 입력해주세요." title="주소"
                     autocomplete="address" required aria-required="true">
              <button type="button" class="delete_btn">
                <span class="blind">삭제</span>
              </button>
            </div>
            <button type="submit" class="login_btn">가입완료</button>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</main>
</body>
</html>
