<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/trade/trade.css">
  <title>Title</title>
</head>
<body>
<main id="container" class="sub_container" layout:fragment="content">
  <section class="sub_search">
    <div class="inner">
      <div class="search_wrap">
        <form>
          <fieldset>
            <legend>게시물 검색</legend>
            <div class="search">
              <div class="input_wrap">
                <input type="search" placeholder="검색어를 입력해주세요" title="검색어를 입력해주세요">
                <button type="submit" class="search_btn">
                  <span class="blind">게시물 검색</span>
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
  <section class="main_wrap">
    <div class="inner">
      <div class="left_wrap">
        <div class="filter">
          <h2>필터</h2>
          <label class="checkbox">
            <input type="checkbox" name="availableOnly" class="blind">
            거래 가능만 보기
          </label>
        </div>
        <div class="category">
          <h3>카테고리</h3>
          <ul>
            <li><a href="#">디지털기기</a></li>
            <li><a href="#">가구/인테리어</a></li>
            <li><a href="#">생활/주방</a></li>
            <li><a href="#">의류</a></li>
            <li><a href="#">뷰티/미용</a></li>
            <li><a href="#">스포츠/레저</a></li>
            <li><a href="#">게임/음반</a></li>
            <li><a href="#">도서</a></li>
          </ul>
        </div>
      </div>
      <div class="right_wrap">
        <ul class="all_trade">
          <li th:each="trade : ${list}">
            <a th:href="@{'/trade/trade_sub/' + ${trade.product_id}}">
              <div class="img_wrap">
                <img th:src="@{/images/trade/{img}(img=${trade.image})}" alt="이미지">
              </div>
              <div class="txt_wrap">
                <strong th:text="${trade.name}"></strong>
                <span th:text="${trade.price}"></span>
                <span>원</span>
              </div>
            </a>
          </li>
        </ul>
        <th:block th:utext="${paging}"></th:block>
      </div>
    </div>
  </section>
</main>
</body>
</html>
